dcp_optimizer_run-*/
RapidWrightMCP/__pycache__
VivadoMCP/test_vivado_mcp.py
RapidWrightMCP/test_server.py
dcp_optimizer.py
*.log
*.jou

VivadoMCP
RapidWrightMCP
clockInfo.txt
.Xil/
.vscode/
__pycache__/
*.str